@-webkit-keyframes arrow_down {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  25% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%); }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  75% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes arrow_down {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  25% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%); }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  75% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'K2D', sans-serif; }
  body img {
    max-width: 100%;
    cursor: pointer; }
  body video {
    max-width: 100%; }
  body a {
    text-decoration: none; }
  body li {
    list-style-type: none; }

figure .mfp-img {
  max-height: auto !important;
  max-width: 80%; }

header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  z-index: 999; }
  header .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0; }
    header .menu li {
      margin-right: 15px; }
      header .menu li:last-child {
        margin-right: 0; }
    header .menu a {
      font-size: 18px;
      cursor: pointer;
      color: #FFFFFF;
      -webkit-transition: color 0.3s linear;
      -o-transition: color 0.3s linear;
      transition: color 0.3s linear; }
      header .menu a:hover {
        color: #DF0015; }

section {
  margin-bottom: 30px; }
  section:last-child {
    margin-bottom: 0; }

.flex-container .item {
  max-width: 300px; }

.flex-container .description a {
  color: #2702f7;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .flex-container .description a:hover {
    opacity: 0.6; }

.title {
  margin: 0 auto; }

.main {
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: #FFFFFF; }
  .main .center {
    position: relative;
    z-index: 2;
    font-size: 40px;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .main .up_arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
    cursor: pointer; }
    .main .up_arrow span {
      color: #ffffff;
      display: block;
      -webkit-animation: 1.6s arrow_down linear infinite;
              animation: 1.6s arrow_down linear infinite; }
  .main .center-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .main .center-block .buttons-block {
      margin-top: 20px;
      overflow: hidden; }
      .main .center-block .buttons-block button {
        -webkit-border-radius: 19px;
                border-radius: 19px;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 75px;
        background: none;
        background-repeat: no-repeat;
        position: relative;
        -webkit-transform: translateY(-200%);
            -ms-transform: translateY(-200%);
                transform: translateY(-200%);
        overflow: hidden;
        width: 240px; }
      .main .center-block .buttons-block .head-hunter {
        border: 2px solid #DF0015;
        -webkit-transition: 0.3s -webkit-transform;
        transition: 0.3s -webkit-transform;
        -o-transition: 0.3s transform;
        transition: 0.3s transform;
        transition: 0.3s transform, 0.3s -webkit-transform;
        margin-right: 30px; }
        .main .center-block .buttons-block .head-hunter:after {
          content: '';
          position: absolute;
          background: url("../img/hh.png");
          width: 30px;
          height: 30px;
          left: 20px;
          top: 50%;
          z-index: 4;
          background-position: center;
          -webkit-background-size: contain;
                  background-size: contain;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .main .center-block .buttons-block .head-hunter:before {
          content: '';
          position: absolute;
          background: #DF0015;
          top: 0;
          left: 0;
          width: 240px;
          height: 100%;
          -webkit-transform: skew(-45deg) translateX(-275px);
              -ms-transform: skew(-45deg) translateX(-275px);
                  transform: skew(-45deg) translateX(-275px);
          z-index: -1;
          border-right: 8px solid #FFFFFF;
          border-left: 8px solid #FFFFFF;
          -webkit-transition: .3s transform linear;
          -o-transition: .3s transform linear;
          transition: .3s transform linear;
          -webkit-filter: blur(14px);
                  filter: blur(14px); }
        .main .center-block .buttons-block .head-hunter:hover:before {
          -webkit-transform: skew(-45deg) translateX(300px);
              -ms-transform: skew(-45deg) translateX(300px);
                  transform: skew(-45deg) translateX(300px); }
      .main .center-block .buttons-block .vkontakte {
        border: 2px solid #466A96;
        -webkit-transition: 0.9s -webkit-transform;
        transition: 0.9s -webkit-transform;
        -o-transition: 0.9s transform;
        transition: 0.9s transform;
        transition: 0.9s transform, 0.9s -webkit-transform; }
        .main .center-block .buttons-block .vkontakte:after {
          content: '';
          position: absolute;
          background: url("../img/vk.png");
          width: 30px;
          height: 30px;
          left: 20px;
          top: 50%;
          z-index: 4;
          background-position: center;
          -webkit-background-size: contain;
                  background-size: contain;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .main .center-block .buttons-block .vkontakte:before {
          content: '';
          position: absolute;
          background: #466A96;
          top: 0;
          left: 0;
          width: 240px;
          height: 100%;
          -webkit-transform: skew(-45deg) translateX(-275px);
              -ms-transform: skew(-45deg) translateX(-275px);
                  transform: skew(-45deg) translateX(-275px);
          z-index: -1;
          border-right: 8px solid #FFFFFF;
          border-left: 8px solid #FFFFFF;
          -webkit-transition: .3s transform linear;
          -o-transition: .3s transform linear;
          transition: .3s transform linear;
          -webkit-filter: blur(14px);
                  filter: blur(14px); }
        .main .center-block .buttons-block .vkontakte:hover:before {
          -webkit-transform: skew(-45deg) translateX(300px);
              -ms-transform: skew(-45deg) translateX(300px);
                  transform: skew(-45deg) translateX(300px); }
    .main .center-block .buttons-block.active button {
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%); }
  .main:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6); }
  .main .bg-center {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100.5%;
    min-height: 100.5%;
    z-index: -2;
    max-width: none;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.grid {
  max-width: 1300px;
  padding: 0 100px;
  margin: 0 auto; }

canvas {
  background-image: -webkit-radial-gradient(#666, #333);
  background-image: -o-radial-gradient(#666, #333);
  background-image: radial-gradient(#666, #333);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; }

.flex-container-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .flex-container-video .flex-item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px); }
    .flex-container-video .flex-item:nth-child(2n) {
      margin-right: 0; }

@media all and (max-width: 1200px) {
  .main .center {
    font-size: 26px;
    line-height: 46px;
    text-align: center; }
  .buttons-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .buttons-block a {
      margin-bottom: 20px; }
      .buttons-block a:last-child {
        margin-bottom: 0; }
    .buttons-block .head-hunter {
      margin: 0 !important; } }

@media all and (max-width: 768px) {
  .grid {
    padding: 0 30px; }
  .main .bg-center {
    display: none; }
  .main .center {
    font-size: 20px;
    line-height: 36px; } }
