@keyframes arrow_down
    0% 
      transform: translateX(0); 
    25% 
      transform: translateX(25%);
    50% 
      transform: translateX(50%);
    75% 
      transform: translateX(25%);
    100% 
      transform: translateX(0);
  
* 
  margin: 0;
  padding: 0;
    
body
  font-family: 'K2D', sans-serif;
  img 
    max-width: 100%;
    cursor: pointer;
  video
    max-width: 100%;
  a
    text-decoration: none;
  li
    list-style-type: none;

figure .mfp-img 
  max-height: auto!important;
  max-width: 80%;


header
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  z-index: 999;
  .menu
    display: flex;
    justify-content: center;
    padding: 20px 0;
    li
      margin-right: 15px;
      &:last-child
        margin-right: 0;
    a
      font-size: 18px;
      cursor: pointer
      color: #FFFFFF;
      transition: color 0.3s linear;
      &:hover
        color: #DF0015;

section
  margin-bottom: 30px;
  &:last-child
    margin-bottom: 0;

.flex-container
  .item
    max-width: 300px;
  .description a
    color: #2702f7;
    transition: all 0.3s;
    &:hover
      opacity: 0.6;

.title
  margin: 0 auto;

.main
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
  .center
    position: relative;
    z-index: 2;
    font-size: 40px;
    height: 100vh;
    align-items: center;
    display: flex;
  .up_arrow
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    cursor: pointer;
    span
      color: #ffffff;
      display: block;
      animation: 1.6s arrow_down linear infinite;


  .center-block
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;

    .buttons-block
      margin-top: 20px;
      overflow: hidden

      button
        border-radius: 19px;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 75px;
        background: none;
        background-repeat: no-repeat;
        position: relative;
        transform: translateY(-200%);
        overflow: hidden;
        width: 240px;

      .head-hunter
        border: 2px solid #DF0015;
        transition: 0.3s transform;
        margin-right: 30px;

        &:after
          content: '';
          position: absolute;
          background: url("../img/hh.png");
          width: 30px;
          height: 30px;
          left: 20px;
          top: 50%;
          z-index: 4;
          background-position: center;
          background-size: contain;
          transform: translateY(-50%);

        &:before
          content: '';
          position: absolute;
          background: #DF0015;
          top: 0;
          left: 0;
          width: 240px;
          height: 100%;
          transform: skew(-45deg) translateX(-275px);
          z-index: -1;
          border-right: 8px solid #FFFFFF;
          border-left: 8px solid #FFFFFF;
          transition: .3s transform linear;
          filter: blur(14px);

        &:hover
          &:before
            transform: skew(-45deg) translateX(300px);

      .vkontakte
        border: 2px solid #466A96;
        transition: 0.9s transform;
        &:after
          content: '';
          position: absolute;
          background: url("../img/vk.png");
          width: 30px;
          height: 30px;
          left: 20px;
          top: 50%;
          z-index: 4;
          background-position: center;
          background-size: contain;
          transform: translateY(-50%);

        &:before
          content: '';
          position: absolute;
          background: #466A96;
          top: 0;
          left: 0;
          width: 240px;
          height: 100%;
          transform: skew(-45deg) translateX(-275px);
          z-index: -1;
          border-right: 8px solid #FFFFFF;
          border-left: 8px solid #FFFFFF;
          transition: .3s transform linear;
          filter: blur(14px);

        &:hover
          &:before
            transform: skew(-45deg) translateX(300px);

    .buttons-block.active button
        transform: translateY(0%);

  &:before
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);

  .bg-center
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100.5%;
    min-height: 100.5%;
    z-index: -2;
    max-width: none;
    transform: translate(-50%, -50%);

.grid
  max-width: 1300px;
  padding: 0 100px;
  margin: 0 auto;

canvas
  background-image: radial-gradient(#666, #333);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

.flex-container-video
  display: flex;
  flex-wrap: wrap;
  .flex-item
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    &:nth-child(2n)
      margin-right: 0;

@media all and (max-width: 1200px)
  .main
    .center
      font-size: 26px;
      line-height: 46px;
      text-align: center;
  .buttons-block
    display: flex;
    flex-direction: column;
    a
      margin-bottom: 20px;
      &:last-child
        margin-bottom: 0;

    .head-hunter
      margin: 0!important;

@media all and (max-width: 768px)
  .grid
    padding: 0 30px;
  .main
    .bg-center
      display: none;
    .center
      font-size: 20px;
      line-height: 36px;